//fonts
$font-1: 'Montserrat', sans-serif;
$font-2: 'Raleway', sans-serif;
$font-3: 'Maven Pro', sans-serif;

//colors
$color-1: #021F4E;
$color-2: #FFC95C;
$color-3:#F7F7F7;
$color-4: #38369A;

//bloc réutilisable
// @mixin verticalCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-3;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

main {
  padding: 20px;
  margin-left: 250px; // Adjust for sidebar width
  background-color: $color-3;
  min-height: 100vh; // Ensure it covers full height
}


h1{
  font-size: 2rem;
  font-weight: bold;
  color: $color-1;
  margin: auto;
  text-align: center;
  padding: 20px;
}

//img page home
.portrait-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px auto;
  display: block;
}
.add-user {
  background-color: $color-2;
  color: $color-1;
  border: $color-4 solid 2px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  margin:auto;

  &:hover {
    background-color: darken($color-2, 30%);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

a {
  text-decoration: none;
  color: $color-3;

  &:hover {
    text-decoration: none;
  }
}


.famille-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; 
  padding: 20px;
}

.famille-details img{
  justify-content: center;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.btn-retour{
  background-color: $color-2;
  color: $color-1;
  border: $color-4 solid 2px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  margin:auto;

  &:hover {
    background-color: darken($color-2, 30%);
  }
}

//css page messagerie
.send-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f6f6ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;

  input, textarea, select {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
  }

  button {
    background-color: #3e3e99;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: #2e2e80;
    }
  }
}
